
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* 

m-auto

rounded-lg
rounded-full
border-1=8

text-lg
text-xl
text-2xl
text-3xl


text/bg/ teal-400
blue-900
violet-400
pink-400
rose-900

*/

textarea {
    resize: none;
  }